.admin-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.admin-main {
  display: flex;
  flex: 1;
}

.admin-content {
  flex: 1;
  padding: 2rem;
  background-color: #f0fdf4;
}

.dashboard-cards {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 1.5rem;
  width: 200px;
  text-align: center;
}

.card h2 {
  margin-bottom: 0.5rem;
  color: #4a9448;
}

.card p {
  font-size: 1.4rem;
  font-weight: bold;
}
